name: Tests

on: 
  pull_request:
  push:
    branches:
      - main

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - swift:5.9-focal
          - swift:5.9-jammy
          - swift:5.10-focal
          - swift:5.10-jammy
    container: ${{ matrix.image }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Run tests
      run: swift test
  osx:
    runs-on: macOS-13
    steps:
      - name: Select latest available Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with: 
          xcode-version: latest
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run tests
        run: swift test
